<div class="row justify-content-center mt-5 pt-5">
  <div class="col-6 col-md-4">
    <h2 class="text-white">Name: {{user.name}}</h2>
    <h3 class="text-white">Phone: {{user.phone}}</h3>
    <h3 class="text-white">Email: {{user.email}}</h3>
    <br>
    <br>
    <br>
    <br>
    <h3 class="text-white">User Management</h3>
    <hr>
    <div class="row justify-items-center">
      <button class="btn btn-success mb-2">
        <a href="/admin/users">
          <i class="fa fa-users"></i>
          Manage Users
        </a>
      </button>
    </div>
  </div>
  <div class="col-6 col-md-2"></div>
  <div class="card rounded-5" style="width: 18rem;">
    <img class="card-img-top rounded-5"
      src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg"
      alt="User image" />
    <div class="card-body text-center">
      <h5 class="card-title">{{user.name}}</h5>
      <h6 class="card-text">{{user.phone}}</h6>
      <h6 class="card-text">{{user.email}}</h6>
    </div>
  </div>
</div>
<br>
<hr>
<br>