<div class="row justify-content-center mt-5 pt-5">
  <div class="col-6">
    <h1>Name: {{user.name}}</h1>
    {{#if user.phone}}
    <h3>Phone: {{user.phone}}</h3>
    {{/if}}
    <h3>Email: {{user.email}}</h3>
    {{#if user.gender}}
    <h3>Gender: {{user.gender}}</h3>
    {{/if}}
  </div>

  <div class="card rounded-5" style="width: 18rem;">
    <img class="card-img-top rounded-5" {{#ifEqual user.gender "Male" }}
      src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg"
      {{/ifEqual}} {{#ifEqual user.gender "Female" }} src="/img/user-female.png" {{/ifEqual}} alt="User image" />
    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text"><b>Strengths:</b> Hard work, honesty, quick-learner, time management, self-motivated</p>
      <p class="card-text"><b>Long-term Goal:</b> Get a high income job</p>
    </div>
  </div>
</div>
<br>
<hr>
<br>